.container {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
}

.profile {
    padding-top: 50px;
}

.description {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: antiquewhite;
    border: 1px solid rgb(97, 79, 79);
    border-radius: 5px;
    box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.avatar {
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(136, 110, 110);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.name {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
}

.tag {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(95, 129, 129);
}

.location {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(95, 129, 129);
}

.stats {
    width: 300px;
    padding: 15px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    background-color: rgb(216, 196, 170);
    border: 1px solid rgb(97, 79, 79);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.stats>li {
    width: calc((300px - 70px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-weight: 600;
    letter-spacing: 0.04em;
    color: rgb(255, 255, 255);
}

.quantity {
    font-size: 20px;
    font-weight: 700;
}