.container {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
}

.statistics {
    padding-top: 50px;
}

.title {
    width: 300px;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.statList {
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.item {
    width: calc((300px - 30px) / 3);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(97, 79, 79);
}

.label {
    font-weight: 600;
    letter-spacing: 0.04em;
    color: rgb(255, 255, 255);
}

.percentage {
    font-size: 20px;
    font-weight: 700;
}